<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"><%= current_user.fullname %></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
    <ul class="offcanvas-body">
      <li><i class="fa-regular fa-envelope"></i><span><%= current_user.email %></span></li>
      <li><i class="fa-solid fa-gear"></i><%= link_to "Update profile", edit_user_registration_path %></li>
    </ul>
</div>